# Compiled Object files
*.o
*.obj
*.d
*.a
*.lib

# Executables
*.bin
*.elf
*.exe

# PROS
bin/
firmware/
.vscode/
.cache/
compile_commands.json
temp.log
temp.errors
*.ini
.d/

# OS files
Thumbs.db
.DS_Store

# Editor swap files
*.swp
*.swo
*~